@()(implicit req: play.api.mvc.RequestHeader)

@main("Shoper") {
    @menu {
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.PurchaseController.save,
            routes.javascript.PurchaseController.load,
            routes.javascript.PurchaseController.update
        )
        <script id="template" type="x-tmpl-mustache">
            {{#items}}
                <div id="purchase-{{id}}">
                    <div class="input-group mb-2" id="ig-{{id}}">
                        <div class="input-group-prepend" id="ipg-{{id}}">
                            <div class="input-group-text">
                                <button class="btn btn-sm {{buttonColor}}" type="button" id="cb-{{id}}">{{buttonText}}</button>
                            </div>
                        </div>

                        <textarea id="ta-{{id}}" rows="2" class="form-control" data-status="{{status}}" disabled>{{name}}</textarea>

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="db-{{id}}">
                                <i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <p class="text-sm-right font-weight-light">Created at {{createdAt}} by {{userName}}</p>
                </div>
            {{/items}}
        </script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="module"></script>
        <p class="lead">Purchase List</p>
        <div class="row">
            <div id="purchaseList" class="col"></div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="button" class="btn btn-outline-success" id="add-row-button">
                    <i class="fas fa-plus"></i> Add
                </button>
                <button type="button" class="btn btn-primary" id="save-button">
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </div>
    }
}
