@(userConstraints: Form[UserForm])(implicit request: RequestHeader, messages: Messages)
@implicitFieldConstructor = @{
    b4.vertical.fieldConstructor(isCustom = true, withFeedbackTooltip = true)
}

@main("Profile") {
    @menu {
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.UserController.get,
            routes.javascript.UserController.update,
        )
        <script src="@routes.Assets.versioned("javascripts/user.js")" type="module"></script>
        <div class="justify-content-center col-lg-6 offset-lg-3 mt-4">
            <h4>Shoper</h4>
            @b4.formCSRF(routes.UserController.update(), Symbol("class") -> "mt-4") {
                @b4.password(userConstraints("password"), Symbol("_label") -> "Password", Symbol("_class") -> "position-relative")
                @b4.text(userConstraints("name"), Symbol("_label") -> "Name", Symbol("placeholder") -> "Your Name")
                @b4.buttonType("submit", Symbol("class") -> "btn btn-primary") {
                    <i class="fas fa-save"></i> Save }
            }
        </div>
    }
}
